@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron ">
    <img src="~/images/logosd.png" alt="Games Logo" ALIGN="right" style="width:150px; height:150px; margin-right:10px"  />
    <h1 style="margin-left:10px"> Selamat Datang Di Sistem Informasi <br /> SDN 2 Tias Bangun </h1>
</div>
<div><p class="lead text-center">Visi : Menjadikan lulusan berakhlak mulia,cerdas,dan ceria </p></div>
<div><p class="lead text-center">Misi : Menjadikan lulusan Hafal Al-Quran 30 Juz </p></div>
<div><p class="lead text-center">Aamiin Yarobbal'alamin</p></div>